:root {
    --text: #f1eef0;
    --background: #100c0f;
    --primary: #c9aac1;
    --secondary: #643757;
    --accent: #bb6ea5;

}

* {
    font-family: 'Poppins';
    overflow: hidden;
}
body {
    background-color: var(--background)
}

/* width */
::-webkit-scrollbar {
    width: 2vmin;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 100vh;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent)
  }

.container {
    width: 80svw;
    height: auto;
    max-height: 80vh;
    border: 2vmin solid var(--primary);
    border-radius: 5vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    overflow-y: auto;
}

.container h1 {
    color: var(--text);
    font-size: 7vmin;
    padding-bottom: 3vmin;
    border-bottom: 1vmin dashed var(--accent);
    margin-left: 4vmin;
    margin-right: 4vmin;
}

.container input, #resetButton {
    outline: none;
    text-align: center;
    background-color: var(--primary);
    border: 1vmin solid var(--secondary);
    border-radius: 2vmin;
    width: 50vmin;
    height: 10vmin;
    font-size: 4vmin;
    transition: border-color 0.3s ease;
    margin-bottom: 3vmin;
}

.container input:hover, .container input:focus {
    border-color: var(--accent);
}

.smallText {
    color: var(--text);
    padding-bottom: 2vmin;
    border-bottom: 0.5vmin dotted var(--accent);
    font-size: 3vmin;
}

.container button {
    width: 30vmin;
    height: 11vmin;
    margin: 3vmin 2vmin;
    margin-top: 6vmin;
    background-color: var(--secondary);
    outline: none;
    border: 1vmin solid var(--primary);
    color: var(--text);
    border-radius: 2vmin;
    font-size: 3vmin;
    text-align: center;
    transition: border-color 0.3s ease;
}

.container button:hover, .container button:active {
    border-color: var(--accent);
}

#timePicker {
    margin-top: 6vmin;
    width: 35vmin;
    height: 8vmin;
    font-size: 3.5vmin;
    padding-right: 2vmin;
    padding-left: 2vmin;
}

.flipped {
    line-height: 14vmin;;
    border: none;
    border-top: 0.5vmin solid var(--primary);
}

#copyButton {
    margin-top: -3vmin;
    height: 8vmin;
}

button:disabled {
    opacity: 0.5;
}

.copyright {
    position: absolute;
    color: var(--text);
    left: 50%;
    transform: translate(-50%);
    top: 96%;
    font-size: 3vmin;
}

#resetButton {
    width: 12vmin;
    color: black;
}

#resetButton:hover {
    border-color: var(--accent)
}